<center>
    <form method="POST">
        <label>
            "Please enter the passenger class (a number from 1 to 3), 
            Age (a number from 1 to 70), Siblings/Spouses Abroad (0 or 1), 
            Parents/Children Abroad (0 or 1), Fare (a number from 1 to 100), 
            Sex_female (0 or 1), Sex_male (0 or 1). Total of 7 numbers, all separated by commas."
        </label>
        <input name = "values">
        <input type="submit">
        <label src="{{prediction}}"> <br> The prediction for {{input_data}} is {{prediction}} 
        <br>Prediction 1 is survivie, 0 is no survive.</label>
    </form>
</center>